<style>
  .picker-emoji:not(.show){
    display: none;
  }

  @media screen and (min-width: 768px){
    .picker-emoji{
      right: 5rem;
    }
  }

  @media screen and (max-width: 768px) {
    .picker-emoji{
        left: 50%;
        transform: translateX(-50%);
    }
  }
</style>
<div id="emoji-post" class="picker-emoji position-absolute">
  <emoji-picker 
    data-target="<%= target %>"
    id="emoji-picker-<%= target %>"
    locale="BR"
    data-source="https://cdn.jsdelivr.net/npm/emoji-picker-element-data@%5E1/pt/cldr-native/data.json"
    skin-tone-emoji="ðŸ‘ï¸"
  ></emoji-picker>
</div>
<script type="module">
  import 'https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/picker.js'
  import 'https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/database.js' // avoid extra round-trip

  const $ = document.querySelector.bind(document)

  document.addEventListener('DOMContentLoaded', async () => {
    const picker = $('emoji-picker')
    const edit = document.getElementById(picker.dataset.target)
    const onEvent = e => {   
      edit.value = edit.value + e.detail.unicode
    }
    picker.addEventListener('emoji-click', onEvent)
  })
</script>