<style>
  .picker-emoji{
    overflow: hidden;
    max-height: 400px;
    transition: max-height .5s ease-in-out;
  }  

  .picker-emoji:not(.show){
    max-height: 0;
  }

  @media screen and (min-width: 768px){
    .picker-emoji{
      right: 5rem;
    }
  }

  @media screen and (max-width: 768px) {
    .picker-emoji{
        left: 50%;
        transform: translateX(-50%);
    }
  }
</style>
<div id="emoji-post" class="picker-emoji position-absolute">
  <emoji
    data-target="<%= target %>"
    id="emoji-picker-<%= target %>"
    locale="BR"
    data-source="https://cdn.jsdelivr.net/npm/emoji-picker-element-data@%5E1/pt/cldr-native/data.json"
    skin-tone-emoji="ðŸ‘ï¸"
  ></emoji>
</div>
<script>
  
  /*document.addEventListener('DOMContentLoaded', async () => {
    const picker =  document.querySelector('emoji-picker')
    const edit = document.getElementById(picker.dataset.target)
    const onEvent = e => {   
      edit.value = edit.value + e.detail.unicode
    }
    picker.addEventListener('emoji-click', onEvent)
  })*/
</script>