.indicadores{
  width: 3rem !important;
  height: 3rem !important;
  text-indent: unset !important;
}

.docs-hr{
  width: 2rem;
  height: 0;
}

.div-input{
  height: 300px; 
  max-width: 500px;
  border-style: dashed !important;
  border-width: 3pt !important;
}