.profile-description {
  font-weight: 500;
  font-size: 0.875em;
  letter-spacing: 0.03em;
  box-sizing: border-box;
  width: 100%;
  line-height: 1.75em;
  text-align: left;
  padding-left: 0.75em;
  white-space: pre-wrap;
  word-break: break-word;
  color: #637395;
}

.icon-links{
  width: 30px;
}