.buttons{

  & svg:hover{
    fill: var(--azul-fansour);
    transform: translateY(-1px);
    cursor: pointer;
  }

  & .active{
    fill: var(--azul-fansour);
  }
}

.bg-preview:hover{
  opacity: 60% !important;
}

div.bg-preview:has(div.btn-close:hover){
  opacity: 60% !important;
}