.buttons{

  & svg:hover{
    fill: var(--azul-fansour);
    transform: translateY(-1px);
    cursor: pointer;
  }

  & .active{
    fill: var(--azul-fansour);
  }
}

.bg-preview{
  height: 100% !important;
  & :hover{
    height: 50% !important;
  }
}